# Ignorer l'environnement virtuel
serverweb/venv/
.venv/
venv/
.venv
venv

# Ignorer les fichiers de configuration et secrets
# serverweb/.env
# .env

# Ignorer les données enregistrées, qui sont spécifique à une installation donnée
serverweb/data

# Fichiers temporaires Python
__pycache__/
*.py[cod]
*.sqlite3

# Fichiers de log
*.log
*.log.*
logs/

# Fichiers .env à la racine
.env



# Fichiers divers
serverweb/encryption_temp.py