# Ignorer l'environnement virtuel
serverweb/venv/
.venv/
venv/
.venv
venv

# Ignorer les fichiers de configuration et secrets
# serverweb/.env
# .env

# Ignorer le fichier de configuration, spécifique à l'installation et qui contient des tokens d'accès Netilion
serverweb/configuration.conf
configuration.conf


# Ignorer les données enregistrées, qui sont spécifique à une installation donnée
serverweb/data

# Fichiers temporaires Python
__pycache__/
*.py[cod]
*.sqlite3

# Fichiers de log, qui sont spécifique à une installation donnée
*.log
*.log.*
logs/


# Fichiers divers inutiles pour le projet final
serverweb/encryption_temp.py