# Ignorer l'environnement virtuel
serverweb/venv/

# Ignorer les fichiers de configuration et secrets
serverweb/.env

# Ignorer les données enregistrées, qui sont spécifique à une installation donnée
serverweb/data

# Ignorer les fichiers temporaires et logs
__pycache__/
*.log
*.sqlite3
.env
