{% extends "base.html" %}
{% block title %}Bindings{% endblock %}

{% block extra_styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/treeview.css') }}">

<style>
	.table { width: 100%; margin-top: 20px; }
	.table-header, .table-row { 
		display: grid;
		grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr 2fr 0.8fr 1fr 2.5fr 4fr 0.8fr 0.8fr;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		padding: 8px;
		border-bottom: 1px solid #ddd;
		width: 100%; 
		overflow: hidden;
	}
	.table-header { background: #e0e0e0; border-radius: 6px; }

	.table-header > div {
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
		/* white-space: nowrap; */
	}
	

	.table-row input { width: 100%; padding: 5px; border: 1px solid #ccc; border-radius: 4px; }
	.table-row select { width: 100%; padding: 5px; border: 1px solid #ccc; border-radius: 4px; }
	

	.btn-choice { max-width: 90%; height: min-content; align-self: center;}
	
	.btn.btn-select {
		padding: 2px 10px;
		border-radius: 6px;
		margin: 0 1em 10px 0;
		height: min-content;
		width: min-content;
	}

	.close-tree-btn {
		color: #ffffff;
		background-color: #dd4040;
		padding: 2px 7px;
		border-radius: 6px;
		cursor: pointer;
		height: min-content;

		margin: 0 0 10px 1em;
	}
	.close-tree-btn:hover {
		/* color: #000000; */
		background-color: #d39595; 
	}
	.btn-danger { width: max-content; max-width: 90%; overflow-x: scroll; justify-self: center; }


	.modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: flex; flex-direction: column; align-items: center; justify-content: center; overflow: hidden;}

	.modal-content { background: white; padding: 20px; border-radius: 8px; max-height: 80vh; overflow-y: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }

	.hidden { display: none; }

	.grid-value {
      background: #fafafa;
      text-align: center;
      padding: 5px;
      margin: 5px 0;
      border-radius: 5px;
      border: 1px solid #ddd;
    }

	.asset-tag-container {
      display: flex;
      flex-direction: column;
      /* grid-gap: 5px; */
      /* width: min-content; */
      max-width: 100%;
	  max-height: 100%;
      background: #fff;
      padding: 5px;
      border-radius: 6px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      /* margin-bottom: 10px; */
  	}
  
	.asset-tag-header {
		background: #cae5fd;
		text-align: center;
		justify-content: center;
		font-weight: bold;
		font-size: 1em;
		padding: 5px;
		border-radius: 8px;
		margin-bottom: 5px;
	}
	.asset-tag-info {
		padding: 0 10px 0;
		font-size: 0.8em;
		text-align: left;
		align-content: center;
	}

</style>


{% endblock %}
  

{% block extra_scripts %}

<script src="{{ url_for('static', filename='scripts/treeview.js') }}"></script>

	<script>
		let bindings = [];
		let accounts = [];
		let units = []; // Contiendra toutes les unités Netilion
		let unitsLoaded = false;

		// Fonction pour charger les unités depuis le fichier units.json
		async function loadUnits() {
			try {
				let response = await fetch("/api/get_units"); // Mets le bon chemin ici
				units = await response.json();
				unitsLoaded = true; // Marque comme chargé
				console.log("Units loaded:", units.length); // Debug
			} catch (error) {
				console.error("Erreur lors du chargement des unités :", error);
			}
		}

		// Charger les unités immédiatement au démarrage
		const unitsPromise = loadUnits();

		function fetchData() {
			Promise.all([
				fetch("/api/get_accounts").then(res => res.json()),
				fetch("/api/get_bindings").then(res => res.json())
			])
				.then(([netilionData, bindingsData]) => {
					accounts = netilionData;
					bindings = bindingsData;
					renderBindings();
				})
				.catch(error => console.error("Erreur lors du chargement des données:", error));
		}

		async function renderBindings() {
			let container = document.getElementById("bindings-list");
			container.innerHTML = ""; // Nettoyage avant affichage

			// S'assurer que les unités sont chargées avant de continuer
			if (!unitsLoaded) {
				console.log("Attente du chargement des unités...");
				await unitsPromise; // Attendre le chargement
			}

			bindings.forEach((binding, index) => {
				let row = document.createElement("div");
				row.classList.add("table-row");

				// Récupérer les bindable_objects du compte Netilion lié à ce binding
				let netilionAccount = accounts.find(acc => acc.account_id === binding.netilion_account_id);
				let bindableOptions = netilionAccount ? netilionAccount.assets : [];
				let unitDisplay = "";
				if (binding.unit_id) {
					const found = units.find(unit => unit.id === binding.unit_id);
					if (found) {
						unitDisplay = `${found.name} (${found.symbol})`;
					}
				}
				let bindingObject = bindableOptions.find(obj => obj.id === binding.netilion_binding_id);
				let bindingLabel = "";

				row.innerHTML = `
					<div><input type="text" value="${binding.identification}" onchange="updateBinding(${index}, 'identification', this.value)"></div>
					<div>
						<select onchange="updateBinding(${index}, 'protocol', this.value)">
							<option value="RTU" ${binding.protocol === "RTU" ? "selected" : ""}>RTU</option>
							<option value="TCP" ${binding.protocol === "TCP" ? "selected" : ""}>TCP</option>
						</select>
					</div>
					<div><input type="text" value="${binding.slaveadress}" onchange="updateBinding(${index}, 'slaveadress', this.value)"></div>
					<div><input type="text" value="${binding.registeradress}" onchange="updateBinding(${index}, 'registeradress', this.value)"></div>
					<div>
						<select onchange="updateBinding(${index}, 'datatype', this.value)">
							<option value="INT16" ${binding.datatype === "INT16" ? "selected" : ""}>INT16</option>
							<option value="UINT16" ${binding.datatype === "UINT16" ? "selected" : ""}>UINT16</option>
							<option value="INT32_B" ${binding.datatype === "INT32_B" ? "selected" : ""}>INT32_B</option>
							<option value="INT32_L" ${binding.datatype === "INT32_L" ? "selected" : ""}>INT32_L</option>
							<option value="UINT32_B" ${binding.datatype === "UINT32_B" ? "selected" : ""}>UINT32_B</option>
							<option value="UINT32_L" ${binding.datatype === "UINT32_L" ? "selected" : ""}>UINT32_L</option>
							<option value="FLOAT_B" ${binding.datatype === "FLOAT_B" ? "selected" : ""}>FLOAT_B</option>
							<option value="FLOAT_L" ${binding.datatype === "FLOAT_L" ? "selected" : ""}>FLOAT_L</option>
							<option value="DOUBLE_B" ${binding.datatype === "DOUBLE_B" ? "selected" : ""}>DOUBLE_B</option>
							<option value="DOUBLE_L" ${binding.datatype === "DOUBLE_L" ? "selected" : ""}>DOUBLE_L</option>
						</select>
					</div>
					<div>
						<input type="text" list="units-list-${index}" value="${unitDisplay}" 
							onchange="updateBinding(${index}, 'unit', this.value)">
						<datalist id="units-list-${index}">
							${units.map(unit => `<option value="${unit.name} (${unit.symbol})" label="${unit.name} (${unit.symbol})"></option>`).join("")}
						</datalist>
					</div>
					<div>
						<button id="test-btn-${index}" title="Envoyer une requête modbus" class="btn btn-test" style="margin-top: 0px;" onclick="testBinding(${index})">Test</button>
					</div>
					<div>
						<div id="test-result-${index}"></div>
					</div>
					<div>
						<select onchange="updateBinding(${index}, 'netilion_account_id', this.value, true)">
							${accounts.map(acc => `<option value="${acc.account_id}" ${acc.account_id === binding.netilion_account_id ? "selected" : ""}>${acc.identification}</option>`).join("")}
						</select>
					</div>
					<div style="display: flex; flex-direction: row; justify-content: center; align-content: center; gap: 8px;">
						<div class="asset-tag-container" id="binding-label-${index}">--</div>
					</div>
					<button class="btn-choice" title="Sélectionner un asset" onclick="openSelectAssetModal(${index})">🔎</button>
					<button class="btn btn-danger" title="Supprimer le binding" style="margin-top: 0px;" onclick="deleteBinding(${index})">&times;</button>
					
				`;
				if(bindingObject){
					row.querySelector(`#binding-label-${index}`).innerHTML = `
					<div class="asset-tag-header">${'📍'+bindingObject.product_name}</div>
					<div class="asset-tag-info">${'<b>SN : </b> \n'+bindingObject.serial_number}</div>
					<div class="asset-tag-info"><i>${bindingObject.description, bindingObject.description != null ? bindingObject.description : "No description"}</i></div>
					`;
				};
				container.appendChild(row);
			});
		}

		function openSelectAssetModal(index) {
			const accountId = bindings[index].netilion_account_id;
			const account = accounts.find(a => a.account_id === accountId);
			// const binding = bindings[index];
			if (!account) return;

			createTree(account, index);

			document.getElementById("select-asset-modal").classList.remove("hidden");
		}
		
		function closeSelectAssetModal() {
    		document.getElementById("select-asset-modal").classList.add("hidden");
		}

		function openCreateAssetModal(){
			document.getElementById('create-asset-modal').classList.remove('hidden');
			showNotification("Cette fonctionnalité n'est pas encore développée", "error");

			const endressProductToggle = document.getElementById("endress_product-toggle");
			endressProductToggle.addEventListener("change", function () {
				if (this.checked) {
					document.getElementById("extra-parameters").style.display = 'none';
				} else {
					document.getElementById("extra-parameters").style.display = 'contents';
				}
			});
		}

		function closeCreateAssetModal() {
			document.getElementById('create-asset-modal').classList.add('hidden');
		}
		


		

		function submitNewAsset() {
			const name = document.getElementById('new-product-name').value;
			const serial = document.getElementById('new-serial-number').value;
			const desc = document.getElementById('new-description').value;

			// 👉 Ici tu peux envoyer ces données à ta fonction createAsset ou à une API
			console.log("Nouvel asset :", { name, serial, desc });

			// Tu peux appeler une fonction type:
			// createAsset({ product_name: name, serial_number: serial, description: desc });

			closeCreateAssetModal();
		}
  



		function updateBinding(index, field, value, render) {
			if (field === "netilion_account_id") {
				// console.log(index);
				// console.log(field);
				// console.log(value);
				// console.log(bindings);
				bindings[index].netilion_account_id = parseInt(value, 10);
				bindings[index].netilion_binding_id = null;
			} else if (field === "unit") {
				const selectedUnit = units.find(u => `${u.name} (${u.symbol})` === value);
				if (selectedUnit) {
					bindings[index].unit_id = selectedUnit.id;
				} else {
					showNotification("Unité non reconnue", "warning");
				}
			} else if (field === "netilion_binding_id") {
				bindings[index].netilion_binding_id = parseInt(value, 10);
			} else {
				bindings[index][field] = value;
			}
			
			if (render){
				renderBindings(); // Pour rafraîchir les objets Netilion associés
			}
			
		}

		function addBinding() {
			let newBinding = {
				identification: "Nouveau Binding",
				protocol: "TCP",
				slaveadress: "",
				registeradress: "",
				datatype: "INT16",
				unit_id: 1,
				netilion_account_id: accounts.length > 0 ? accounts[0].id : null,
				netilion_binding_id: null,
			};
			bindings.push(newBinding);
			renderBindings();
		}

		function deleteBinding(index) {
			bindings.splice(index, 1);
			renderBindings();
		}

		function saveBindings() {
			fetch("/api/save_bindings", {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify(bindings)
			})
				.then(response => response.json())  // Convertit la réponse en JSON
				.then(data => {
					if (data.status === "success") {
						showNotification("Configuration Bindings enregistrée.", "success");
					} else {
						showNotification("Problème lors de l'enregistrement : " + data.message, "error", 6000)
					}
				})
				.catch(error => console.error("Erreur lors de l'enregistrement:", error));
		}

		document.addEventListener("DOMContentLoaded", fetchData);

		async function testBinding(index) {
			let binding = bindings[index];
			let button = document.getElementById(`test-btn-${index}`);
			let resultDiv = document.getElementById(`test-result-${index}`);

			// Reset visuel avant de tester
			button.style.backgroundColor = "#1971c2";
			resultDiv.innerHTML = '<div class="spinner"></div>';

			try {
				let response = await fetch("/api/modbus_test", {
					method: "POST",
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify({
						protocol: binding.protocol,
						slaveadress: binding.slaveadress,
						registeradress: binding.registeradress,
						datatype: binding.datatype,
						identification: binding.identification
					})
				});

				let data = await response.json();
				if (response.ok && data.status === "success") {
					button.style.backgroundColor = "#28a745"; // Vert
					resultDiv.innerText = `${data.value}`;
					resultDiv.style.color = "#28a745";
				} else if (response.ok && data.status === "error") {
					button.style.backgroundColor = "#dc3545"; // Rouge
					resultDiv.innerText = `Échec : ${data.type}`;
					resultDiv.style.color = "#dc3545";
				}
			} catch (error) {
				button.style.backgroundColor = "#dc3545"; // Rouge
				resultDiv.innerText = "Erreur";
				resultDiv.style.color = "#dc3545";
			}

			// Harmoniser les largeurs des resultDivs
			let allResults = document.querySelectorAll("[id^='test-result-']");
			let maxWidth = 0;

			// On récupère la largeur de la plus grande case
			allResults.forEach(div => {
				div.style.width = "auto"; // Reset pour mesurer correctement
				let width = div.offsetWidth;
				if (width > maxWidth) maxWidth = width;
			});

			// On applique cette largeur à toutes les autres et au header également
			allResults.forEach(div => {
				div.style.width = `${maxWidth}px`;
			});
			document.getElementById('test-result-header').style.width = `${maxWidth}px`;
		}

	</script>

{% endblock %}


{% block content %}

<div id="select-asset-modal" class="modal hidden">
	<div class="modal-content">
		<div style="display: flex; flex-direction: row; justify-content: space-between; align-content: center; border-bottom: 1px solid #ddd; gap: 30px;">
			<div class="close-tree-btn" onclick="closeSelectAssetModal()">&times;</div>
			<div>
				<button id="create-button" class="btn btn-select" onclick='openCreateAssetModal()'>Créer</button>
				<button id="select-button" class="btn btn-select" onclick="selectObject()">Sélectionner</button>
			</div>
		</div>
		<div id="treeview-container"></div>
	</div>
</div>

<div id="create-asset-modal" class="modal hidden">
	<div class="modal-content">
		<div
			style="display: flex; flex-direction: row; justify-content: left; align-content: center; border-bottom: 1px solid #ddd; gap: 30px;">
			<div class="close-tree-btn" onclick="closeCreateAssetModal()">&times;</div>
			<strong>Créer un asset</strong>
		</div>
		<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">

			<form id="modbus-form">
				<div class="switch-container">
					<label class="switch">
						<input type="checkbox" id="endress_product-toggle">
						<span class="slider round"></span>
					</label>
					<span style="min-width: 175px;">Produit Endress Hauser</span>
				</div>

				<div class="parameters-box">
					<div class="grid-key">Numéro de série :</div>
					<input class="grid-value" type="text" id="new-serial-number" >
					<div class="grid-key">Description :</div>
					<input class="grid-value" type="text" id="new-description" >

					<div id="extra-parameters" style="display: contents;">
						
						<div class="grid-key">Code produit :</div>
						<input class="grid-value" type="text" id="new-product-code" >
						
						<div class="grid-key">Nom du produit :</div>
						<input class="grid-value" type="text" id="new-product-name" >
					</div>
				</div>
			</form>
			<button onclick="submitNewAsset()" class="btn btn-primary">Créer l'asset</button>
		</div>
	</div>
	
</div>
  

<div class="container">
	<h1>Bindings</h1>

	<!-- En-tête des colonnes -->
	<div class="table-header">
		<div>Nom</div>
		<div>Protocole</div>
		<div>Addr. esclave</div>
		<div>Addr. registre</div>
		<div>Type</div>
		<div>Unit</div>
		<div></div>
		<div id="test-result-header"></div>
		<div>Compte</div>
		<div style="grid-column: span 2;">Objet lié</div>
		<div></div>
	</div>

	<!-- Conteneur des bindings -->
	<div id="bindings-list"></div>

	<!-- Bouton pour ajouter un binding -->
	<div>
		<button class="btn" style="margin-top: 20px;" onclick="addBinding()">Ajouter un binding</button>
		<button class="btn" style="margin-top: 20px;" onclick="saveBindings()">Enregistrer</button>
	</div>
</div>

{% endblock %}