{% extends "base.html" %}
{% block title %}Bindings{% endblock %}

{% block extra_styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/treeview.css') }}">

<style>
	.table { width: 100%; margin-top: 20px; }
	.table-header, .table-row { 
		display: grid;
		grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr 2fr 0.8fr 2.5fr 4fr 0.8fr 1fr 1fr 0.8fr;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		padding: 8px;
		border-bottom: 1px solid #ddd;
		width: 100%; 
		overflow: hidden;
	}
	
	.table-header { background: #e0e0e0; border-radius: 6px; }

	.table-header > div {
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
		/* white-space: nowrap; */
	}
	

	.table-row input { width: 100%; padding: 5px; border: 1px solid #ccc; border-radius: 4px; }
	.table-row select { width: 100%; padding: 5px; border: 1px solid #ccc; border-radius: 4px; }
	

	.btn-choice { max-width: 90%; height: min-content; align-self: center;}
	
	.btn.btn-select {
		padding: 2px 10px;
		border-radius: 6px;
		margin: 0 1em 10px 0;
		height: min-content;
		width: min-content;
	}

	.close-tree-btn {
		color: #ffffff;
		background-color: #dd4040;
		padding: 2px 7px;
		border-radius: 6px;
		cursor: pointer;
		height: min-content;

		margin: 0 0 10px 1em;
	}
	.close-tree-btn:hover {
		/* color: #000000; */
		background-color: #d39595; 
	}
	.btn-danger { 
		padding: 2px 10px;
		border-radius: 6px;
		margin: 0 1em 10px 0;
		height: min-content;
		width: min-content;
		max-width: 90%;
	}


	.modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: flex; flex-direction: column; align-items: center; justify-content: center; overflow: hidden;}

	.modal-content { background: white; padding: 20px; border-radius: 8px; max-height: 80vh; overflow-y: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }

	.hidden { display: none; }

	.grid-value {
      background: #fafafa;
      text-align: center;
      padding: 5px;
      margin: 5px 0;
      border-radius: 5px;
      border: 1px solid #ddd;
    }

	.asset-tag-container {
      display: flex;
      flex-direction: column;
      /* grid-gap: 5px; */
      /* width: min-content; */
      max-width: 90%;
	  min-width: 90%;
	  max-height: 90%;
	  min-height: 90%;
      background: #fff;
      padding: 5px;
      border-radius: 6px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      /* margin-bottom: 10px; */
  	}
  
	.asset-tag-header {
		background: #daeaf8;
		text-align: center;
		justify-content: center;
		font-weight: bold;
		font-size: 1em;
		padding: 5px;
		border-radius: 8px;
		margin-bottom: 5px;
	}
	.asset-tag-info {
		padding: 0 10px 0;
		font-size: 0.8em;
		text-align: left;
		align-content: center;
	}

</style>


{% endblock %}
  

{% block extra_scripts %}

<script src="{{ url_for('static', filename='scripts/treeview.js') }}"></script>

	<script>
		let bindings = [];
		let accounts = [];
		let units = []; // Contiendra toutes les unités Netilion
		let unitsLoaded = false;

		let inputErrors = {};

		// Fonction pour charger les unités depuis le fichier units.json
		async function loadUnits() {
			try {
				let response = await fetch("/api/get_units"); // Mets le bon chemin ici
				units = await response.json();
				unitsLoaded = true; // Marque comme chargé
				console.log("Units loaded:", units.length); // Debug
			} catch (error) {
				console.error("Erreur lors du chargement des unités :", error);
			}
		}

		// Charger les unités immédiatement au démarrage
		const unitsPromise = loadUnits();

		function fetchData() {
			Promise.all([
				fetch("/api/get_accounts").then(res => res.json()),
				fetch("/api/get_bindings").then(res => res.json())
			])
				.then(([netilionData, bindingsData]) => {
					accounts = netilionData;
					bindings = bindingsData;
					renderBindings();
				})
				.catch(error => console.error("Erreur lors du chargement des données:", error));
		}

		async function renderBindings() {
			let container = document.getElementById("bindings-list");
			container.innerHTML = ""; // Nettoyage avant affichage

			// S'assurer que les unités sont chargées avant de continuer
			if (!unitsLoaded) {
				console.log("Attente du chargement des unités...");
				await unitsPromise; // Attendre le chargement
			}

			bindings.forEach((binding, index) => {
				let row = document.createElement("div");
				row.classList.add("table-row");

				// Récupérer les bindable_objects du compte Netilion lié à ce binding
				let netilionAccount = accounts.find(acc => acc.account_id === binding.netilion_account_id);
				let bindableOptions = netilionAccount ? netilionAccount.assets : [];
				let unitDisplay = "";
				if (binding.unit_id) {
					const found = units.find(unit => unit.id === binding.unit_id);
					if (found) {
						unitDisplay = `${found.name} (${found.symbol})`;
					}
				}

				let groupOptions = netilionAccount?.assets?.find(asset => asset.id === binding.netilion_asset_id)?.value_groups ?? [];

				let keyOptions = netilionAccount?.assets?.find(asset => asset.id === binding.netilion_asset_id)?.value_keys ?? [];



				let bindingObject = bindableOptions.find(obj => obj.id === binding.netilion_asset_id);
				let bindingLabel = "";

				row.innerHTML = `
					<div><input type="text" value="${binding.identification}" onchange="updateBinding(${index}, 'identification', this.value)"></div>
					<div>
						<select onchange="updateBinding(${index}, 'protocol', this.value)">
							<option value="RTU" ${binding.protocol === "RTU" ? "selected" : ""}>RTU</option>
							<option value="TCP" ${binding.protocol === "TCP" ? "selected" : ""}>TCP</option>
						</select>
					</div>
					<div><input type="text" value="${binding.slaveadress}" onchange="updateBinding(${index}, 'slaveadress', this.value)"></div>
					<div><input type="text" value="${binding.registeradress}" onchange="updateBinding(${index}, 'registeradress', this.value)"></div>
					<div>
						<select onchange="updateBinding(${index}, 'datatype', this.value)">
							<option value="INT16" ${binding.datatype === "INT16" ? "selected" : ""}>INT16</option>
							<option value="UINT16" ${binding.datatype === "UINT16" ? "selected" : ""}>UINT16</option>
							<option value="INT32_B" ${binding.datatype === "INT32_B" ? "selected" : ""}>INT32_B</option>
							<option value="INT32_L" ${binding.datatype === "INT32_L" ? "selected" : ""}>INT32_L</option>
							<option value="UINT32_B" ${binding.datatype === "UINT32_B" ? "selected" : ""}>UINT32_B</option>
							<option value="UINT32_L" ${binding.datatype === "UINT32_L" ? "selected" : ""}>UINT32_L</option>
							<option value="FLOAT_B" ${binding.datatype === "FLOAT_B" ? "selected" : ""}>FLOAT_B</option>
							<option value="FLOAT_L" ${binding.datatype === "FLOAT_L" ? "selected" : ""}>FLOAT_L</option>
							<option value="DOUBLE_B" ${binding.datatype === "DOUBLE_B" ? "selected" : ""}>DOUBLE_B</option>
							<option value="DOUBLE_L" ${binding.datatype === "DOUBLE_L" ? "selected" : ""}>DOUBLE_L</option>
						</select>
					</div>
					<div>
						<input type="text" list="units-list-${index}" value="${unitDisplay}" 
							onchange="updateBinding(${index}, 'unit', this.value)">
						<datalist id="units-list-${index}">
							${units.map(unit => `<option value="${unit.name} (${unit.symbol})" label="${unit.name} (${unit.symbol})"></option>`).join("")}
						</datalist>
					</div>
					<div>
						<button id="test-btn-${index}" title="Envoyer une requête modbus" class="btn btn-test" style="margin-top: 0px;" onclick="testBinding(${index})">Test</button>
					</div>
					<div>
						<select onchange="updateBinding(${index}, 'netilion_account_id', this.value, true)">
							${accounts.map(acc => `<option value="${acc.account_id}" ${acc.account_id === binding.netilion_account_id ? "selected" : ""}>${acc.identification}</option>`).join("")}
						</select>
					</div>
					<div style="display: flex; flex-direction: row; justify-content: center; align-content: center; gap: 8px;">
						<div class="asset-tag-container" id="binding-label-${index}">--</div>
					</div>
					<button class="btn-choice" title="Sélectionner un asset" onclick="openSelectAssetModal(${index})">🔎</button>
					<div>
						<!-- Entrée pour la clé (key) -->
						<input list="keys-list-${index}" name="key" id="key-input-${index}" value="${(binding.key === null) ? "" : binding.key}"
						title="La clé permet de préciser quelle est la donnée dans Netilion et de différencier plusieurs types de données pour un même asset (ex: pH retour condensats, Turbidité retour condensats, Niveau cuve eaux de pluie, ...)"
						onchange="updateBinding(${index}, 'key', this.value)">
						<datalist id="keys-list-${index}">
							${keyOptions.map(key => `<option value="${key}"></option>`).join("")}
						</datalist>
					</div>
					<div>
						<!-- Entrée pour le groupe (group) -->
						<input list="groups-list-${index}" name="group" group="key-input-${index}" value="${(binding.group === null) ? "" : binding.group}"
						title="Le groupe permet de créer des regroupements logiques de données pour un ou plusieurs assets (ex: Retour condensats, Circuit eaux de pluie, ...)"
						onchange="updateBinding(${index}, 'group', this.value)">
						<datalist id="groups-list-${index}">
							${groupOptions.map(group => `<option value="${group}"></option>`).join("")}
						</datalist>
					</div>
					<button class="btn btn-danger" title="Supprimer le binding" style="margin-top: 0px;" onclick="deleteBinding(${index})">&times;</button>
					
				`;
				if(bindingObject){
					row.querySelector(`#binding-label-${index}`).innerHTML = `
					<div class="asset-tag-header">${'📍'+bindingObject.product_name}</div>
					<div class="asset-tag-info">${'<b>SN : </b> \n'+bindingObject.serial_number}</div>
					<div class="asset-tag-info"><i>${bindingObject.description, bindingObject.description != null ? bindingObject.description : "No description"}</i></div>
					`;
				};
				container.appendChild(row);
			});
		}

		function openSelectAssetModal(index) {
			let accountId = bindings[index].netilion_account_id;
			let account = accounts.find(a => a.account_id === accountId);
			// const binding = bindings[index];
			if (!account) return;

			createTree(account, index);

			document.getElementById("select-asset-modal").classList.remove("hidden");
		}
		
		function closeSelectAssetModal() {
			resetAllSelections();
    		document.getElementById("select-asset-modal").classList.add("hidden");
		}

		function openCreateAssetModal(bindingIndex, account, selectedParentObj){
			document.getElementById('create-asset-modal').classList.remove('hidden');
			
			document.getElementById('create-asset-button').onclick = () => {
				submitNewAsset(bindingIndex, account, selectedParentObj);
			};
			
			// showNotification("Cette fonctionnalité n'est pas encore développée", "error");
		}

		function closeCreateAssetModal() {
			document.getElementById('create-asset-modal').classList.add('hidden');
			document.getElementById("endress_product-toggle").checked = false;

			// Réinitialiser les champs
			document.getElementById('new-product-name').value = '';
			document.getElementById('new-serial-number').value = '';
			document.getElementById('new-description').value = '';
			document.getElementById('new-product-code').value = '';
			// Réafficher extra-parameters si besoin
			document.getElementById("extra-parameters").style.display = 'contents';
		}
		


		

		async function submitNewAsset(bindingIndex, account, selectedParentObj) {
			const product_name = document.getElementById('new-product-name').value.trim();
			const serial_number = document.getElementById('new-serial-number').value.trim();
			const product_code = document.getElementById('new-product-code').value.trim();
			const description = document.getElementById('new-description').value.trim();
			let parent_id = null;
			if (selectedParentObj){
				parent_id = selectedParentObj.id;
			}

			const endressProductToggle = document.getElementById("endress_product-toggle");

			// console.log(bindingIndex, account, selectedParentObj)

			// Vérification de la complétion des champs selon le cas
			if (!serial_number || !description)  {
				showNotification("Tous les champs obligatoires doivent être remplis.", "warning");
				return; // Empêche la suite de s'exécuter
			}
			
			if ((product_code && !product_name) || (!product_code && product_name))   {
				showNotification("Si vous spécifiez un produit, vous devez spécifier à la fois le nom et le code produit.", "warning");
				return; // Empêche la suite de s'exécuter
			}

			let binding = bindings[bindingIndex];

			try {
				let response = await fetch("/api/create_new_asset", {
					method: "POST",
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify({
						account_id: account.account_id,
						endress_product: endressProductToggle.checked,
						serial_number: serial_number,
						description: description,
						product_code: product_code,
						product_name: product_name,
						parent_id: parent_id
					})
				});

				let data = await response.json();
				
				if (response.ok && data.success) {
					account = data.account
					accounts[account.account_id] = account
					console.log(accounts[account.account_id])

					showNotification("Asset créé avec succès !", "success");
					
					// redemande les données afin de mettre à jour l'affichage
					createTree(account, bindingIndex);
					fetchData();
					
					if (parent_id) showNotification("Asset ajouté au noeud avec succès.", "success");
					
					// console.log(accounts)
				
				} else if (response.ok && !data.success) {
					showNotification("Problème lors de la création de l'asset :" + data.error, "error", 10000);
				if (data.error === "{'errorType': 'HTTPError', 'endpoint': 'assets', 'status_code': 400, 'message': '{\"errors\":[{\"type\":\"not_unique_in_scope\",\"message\":\"serial number must be unique in manufacturer scope\",\"attribute\":\"serial_number\"}]}'}") {
					showNotification("L'asset a déjà été ajouté par un autre utilisateur", "error", 10000);
				}
				}
			} catch (error) {
				showNotification(error, "error", 6000);
			}
			closeCreateAssetModal();
		}
  



		function updateBinding(index, field, value, render) {
			
			// Initialisation du dict d'erreurs pour ce bindind s'il n'existe pas encore
			if (!inputErrors[index]) inputErrors[index] = {};

			if (field === "netilion_account_id") {
				bindings[index].netilion_account_id = parseInt(value, 10);
				bindings[index].netilion_asset_id = null;
				delete inputErrors[index][field];
				inputErrors[index]["netilion_asset_id"] = "Aucun asset n'a été lié";
			
			} else if (field === "unit") {
				const isUnitValid = units.find(u => `${u.name} (${u.symbol})` === value);
				if (isUnitValid) {
					bindings[index].unit_id = isUnitValid.id;
					delete inputErrors[index][field];
				} else {
					inputErrors[index][field] =  "Unité non reconnue";
				}

			} else if (field === "netilion_asset_id") {
				bindings[index].netilion_asset_id = parseInt(value, 10);
				console.log(inputErrors)
				delete inputErrors[index][field];
				console.log(inputErrors)

			} else if (field === "group") {
				bindings[index][field] = (value === "" || value === undefined) ? null : value;
				delete inputErrors[index][field];
			
			} else if (field === "key") {
				if (value === "" || value === undefined){
					inputErrors[index][field] =  "Clé (key) manquante";
				} else {
					bindings[index][field] = value;
					delete inputErrors[index][field];
				}
			} else if (field === "protocol") {
				if (value === "RTU"){
					inputErrors[index][field] =  "Protocole RTU non pris en charge pour le moment";
				} else {
					bindings[index][field] = value;
					delete inputErrors[index][field];
				}
			} else {
				if (value === "" || value === undefined){
					inputErrors[index][field] =  "Valeur manquante";
				} else {
					bindings[index][field] = value;
					delete inputErrors[index][field];
				}
			}

			// Nettoyer s'il n'y a plus d'erreur pour ce binding
			if (Object.keys(inputErrors[index]).length === 0) {
				delete inputErrors[index];
			}
			
			if (render){
				renderBindings(); // Pour rafraîchir les objets Netilion associés
			}
			
		}

		function addBinding() {
			let newBinding = {
				identification: "Nouveau Binding",
				protocol: "TCP",
				slaveadress: "",
				registeradress: "",
				datatype: "INT16",
				unit_id: 1,
				netilion_account_id: accounts.length > 0 ? accounts[0].id : null,
				netilion_asset_id: null,
				key: "",
				group: "",
			};
			bindings.push(newBinding);
			renderBindings();
			
			const newIndex = bindings.length - 1;
			inputErrors[newIndex] = {
				netilion_account_id: "Aucun compte Netilion n'a été choisi",
				netilion_asset_id: "Aucun asset n'a été lié",
				slaveadress: "Adresse esclave manquante",
				registeradress: "Registre esclave manquant",
				identification: "Veuillez définir un nom pour le binding",
				key: "Clé (key) manquante"
			};
		}

		function deleteBinding(index) {
			bindings.splice(index, 1);
			delete inputErrors[index];
			renderBindings();
		}

		function saveBindings() {
			// console.log(inputErrors)
			if (Object.keys(inputErrors).length > 0) {
				// Optionnel : concaténer les messages d'erreurs pour la notif
				const errorMessages = Object.entries(inputErrors)
					.map(([index, fields]) => {
						return Object.entries(fields).map(
							([field, msg]) => `Binding ${parseInt(index)+1} - ${field} : ${msg}`
						).join("\n");
					}).join("\n");

				showNotification(errorMessages, "error", 5000);
				return;
			}
			fetch("/api/save_bindings", {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify(bindings)
			})
				.then(response => response.json())  // Convertit la réponse en JSON
				.then(data => {
					if (data.status === "success") {
						showNotification("Configuration Bindings enregistrée.", "success");
					} else {
						showNotification("Problème lors de l'enregistrement : " + data.message, "error", 6000)
					}
				})
				.catch(error => console.error("Erreur lors de l'enregistrement:", error));
		}

		document.addEventListener("DOMContentLoaded", fetchData);

		document.addEventListener("DOMContentLoaded", () => {
			const endressProductToggle = document.getElementById("endress_product-toggle");
			endressProductToggle.addEventListener("change", function () {
				if (this.checked) {
					document.getElementById("extra-parameters").style.display = 'none';
				} else {
					document.getElementById("extra-parameters").style.display = 'contents';
				}
			});
		});

		async function testBinding(index) {
			let binding = bindings[index];
			let button = document.getElementById(`test-btn-${index}`);
			const originalHTML = button.innerHTML; // Sauvegarde de l'html du bouton
			const originalClass = button.className; // Sauvegarde des classes du bouton
						
			// Remplacement du bouton par un spinner de chargement
			button.disabled = true;
			button.className = '';
			button.style.backgroundColor = 'transparent';
			button.style.border = 'none';
			
			button.innerHTML = '<div class="spinner"></div>';

			try {
				let response = await fetch("/api/modbus_test", {
					method: "POST",
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify({
						protocol: binding.protocol,
						slaveadress: binding.slaveadress,
						registeradress: binding.registeradress,
						datatype: binding.datatype,
						identification: binding.identification
					})
				});

				let data = await response.json();
				if (response.ok && data.status === "success") {
					button.style.backgroundColor = "#28a745"; // Vert
					showNotification(`Valeur lue : ${data.value}`, "success", 4000)
				} else if (response.ok && data.status === "error") {
					button.style.backgroundColor = "#dc3545"; // Rouge
					showNotification(`Echec lecture valeur : ${data.type}`, "error", 4000)
				}
			} catch (error) {
				button.style.backgroundColor = "#dc3545"; // Rouge
				showNotification(`Erreur : ${error}`, "error", 4000)
			} finally {
				// On replace le bouton tel qu'originalement
				button.disabled = false;
				button.className = originalClass;
				button.innerHTML = originalHTML;
			}
		}

	</script>

{% endblock %}


{% block content %}

<div id="select-asset-modal" class="modal hidden">
	<div class="modal-content">
		<div style="display: flex; flex-direction: row; justify-content: space-between; align-content: center; border-bottom: 1px solid #ddd; gap: 30px;">
			<div class="close-tree-btn" onclick="closeSelectAssetModal()">&times;</div>
			<div>
				<button id="delete-asset-button" class="btn btn-danger">Supprimer</button>
				<button id="open-create--asset-modal-button" class="btn btn-select">Créer</button>
				<button id="select-button" class="btn btn-select">Sélectionner</button>
			</div>
		</div>
		<div id="treeview-container"></div>
	</div>
</div>

<div id="create-asset-modal" class="modal hidden">
	<div class="modal-content">
		<div
			style="display: flex; flex-direction: row; justify-content: left; align-content: center; border-bottom: 1px solid #ddd; gap: 30px;">
			<div class="close-tree-btn" onclick="closeCreateAssetModal()">&times;</div>
			<strong>Créer un asset</strong>
		</div>
		<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">

			<form id="modbus-form">
				<div class="switch-container">
					<label class="switch">
						<input type="checkbox" id="endress_product-toggle">
						<span class="slider round"></span>
					</label>
					<span style="min-width: 175px;">Produit Endress Hauser</span>
				</div>

				<div class="parameters-box">
					<div class="grid-key">Numéro de série : <span style="color:red;">*</span></div>
					<input class="grid-value" type="text" id="new-serial-number" >
					<div class="grid-key">Description : <span style="color:red;">*</span></div>
					<input class="grid-value" type="text" id="new-description" >

					<div id="extra-parameters" style="display: contents;">
						
						<div class="grid-key">Code produit :</div>
						<input class="grid-value" type="text" id="new-product-code" >
						
						<div class="grid-key">Nom du produit :</div>
						<input class="grid-value" type="text" id="new-product-name" >
					</div>
				</div>
			</form><p style="font-size: 0.85em; color: red; margin-top: 10px;">* champs obligatoires</p>
			<button id="create-asset-button" class="btn btn-primary">Créer l'asset</button>
		</div>
	</div>
	
</div>
  
<!-- Fenêtre de confirmation suppression -->
<div id="confirmation-modal" class="modal hidden">
	<div class="modal-content">
		<p id="delete-confirmation-text"></p>
		<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
			<button id="confirm-delete-object" class="btn btn-danger">Supprimer</button>
			<button id="cancel-delete-object" class="btn btn-select">Annuler</button>
		</div>
	</div>
</div>

<div class="container">
	<h1>Bindings</h1>

	<!-- En-tête des colonnes -->
	<div class="table-header">
		<div>Nom</div>
		<div>Protocole</div>
		<div>Addr. esclave</div>
		<div>Addr. registre</div>
		<div>Type</div>
		<div>Unit</div>
		<div></div>
		<div>Compte Netilion</div>
		<div style="grid-column: span 2;">Objet lié</div>
		<div>Key</div>
		<div>Group</div>
		<div></div>
	</div>

	<!-- Conteneur des bindings -->
	<div id="bindings-list"></div>

	<!-- Bouton pour ajouter un binding -->
	<div>
		<button class="btn" style="margin-top: 20px;" onclick="addBinding()">Ajouter un binding</button>
		<button class="btn" style="margin-top: 20px;" onclick="saveBindings()">Enregistrer</button>
	</div>
</div>

{% endblock %}